// .mapid { height: 180px; }

.leaflet-container {
  height: 350px;
  width: 500px;
}

.map {
  height: 350px;
  width: 500px;
  margin: 20px;
  border-radius: 10px;
 
}

.hidden{
  display:none;
}

.search-container{
  background-color: #daedbd;
  
  
}

.hidden{
  display:none;
}